@(SubjectId: String, sub_sess:Map[String, List[(String, List[(Int, Int)])]], studyNo:Int, userName: String, signals: List[Int], videos:  Map[String, List[ String]], study_type: Int, sub_sess_menu: Map[String, List[String]], studyName: String)
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        .markerStyle
        {
        position: absolute;
        left: 40px;
        top: 50px;
        transition: left .5s ease-in, top .5s ease-in;
        width:0.0em;
        height:14.5em;
        #border-left: thick solid #99ccff;
        border-left: thick solid pink;
        white-space:nowrap;
        padding:0.5em;
        z-index: 10;
        }


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SubjectBook</title>
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/html5shiv.js"></script>
    <script src="/assets/javascripts/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/changevideo.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/signalwithtabNew.js")'></script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/jquery-ui-1.9.2.css">


    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/chart.min.js"></script>
    <script src="/assets/javascripts/chart-data.js"></script>
    <script src="/assets/javascripts/easypiechart.js"></script>
    <script src="/assets/javascripts/easypiechart-data.js"></script>
    <script src="/assets/javascripts/bootstrap-datepicker.js"></script>
    <script>

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });


		     $(document).on("click","div#BioTop div.panel div.panel-heading > a > span.icon", function(){
		        $("div.panel div#Bio").slideToggle();
		    });

		      $(document).on("click","div#phychoTop div.panel div.panel-heading > a > span.icon", function(){
		        $("div.panel div#phycho").slideToggle();
		    });


		      $(document).on("click","div#generalInfo div.panel div.panel-heading > a > span.icon", function(){
		        $("div.panel div#general").slideToggle();
		    });


		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
        // this is to unfold the subject list
        $(document).ready(function(){
        $('ul.nav li.parent > a > span.icon').trigger("click");
        });

</script>









    <!-- Ignite UI Required Combined CSS Files -->
    <link href="/assets/stylesheets/infragistics.theme.css" rel="stylesheet">
    <!-- <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" /> -->
    <!--  <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/structure/infragistics.css" rel="stylesheet" />-->

    <!-- Used to style the API Viewer and Explorer UI -->
    <!--  <link href="http://www.igniteui.com/css/apiviewer.css" rel="stylesheet" type="text/css" /> -->

    <!--<script src="http://modernizr.com/downloads/modernizr-latest.js"></script> -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2015.1/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.1/latest/js/infragistics.dv.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Subject</span>Book</a> <a class="navbar-brand" href="/allStudies"><span></span>My Studies</a>
            <a class="navbar-brand" href="#"><span></span>Share</a>
            <a class="navbar-brand" href="#"><span></span>Recommend us</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @userName <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">

        <li><a href="/allStudies"><span class="glyphicon glyphicon-th"></span> My Studies </a></li>
        <li><a href="/createStudy"><span class="glyphicon glyphicon-pencil"></span> New Study</a></li>
        <li><a href="#"><span class="glyphicon glyphicon glyphicon-share"></span> Share study</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> Subjects <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                @for((subject,sessions) <- sub_sess_menu){

                <li>

                    <a class="" href="/displaySubject?studyNo=@studyNo&SubjectId=@subject">
                        <span class="glyphicon glyphicon-user"></span> @subject
                    </a>
                </li>


                }

            </ul>
        </li>
        <li role="presentation" class="divider"></li>

    </ul>

</div><!--/.sidebar-->

<div id = 'main' class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <!-- <img src="/assets/images/ajax-loader.gif" alt="Mountain View" style="width:304px;height:228px"> -->
    <!-- <img src="/assets/images/ajax-loader.gif" alt="Mountain View" style="width:304px;height:228px"> -->

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/allStudies"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active"><a href="/showStudy/@studyNo">@studyName </a> </li><li>@SubjectId</li>



            <!-- <li><button id ='hideSideBar'><a href="/file">toggle</a></button></li> -->
        </ol>
    </div><!--/.row-->
    <div class="row">
        </br>
    </div>

    <div class="row" id ="allInfo">
        <div class="col-md-8" id ="phychoTop" style="display: none;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Phychometrics <a><span data-toggle="collapse" href="#" class="icon pull-right"><em class="glyphicon glyphicon-chevron-down"></em></span> </a>
                </div>
                <div id ="phycho" class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-md-4" id="BioTop" style="display: none;">
            <div class="panel panel-info">

                <div class="panel-heading">
                    Biography <a><span data-toggle="collapse" href="#" class="icon pull-right"><em class="glyphicon glyphicon-chevron-down"></em></span> </a>

                </div>
                <div id="Bio" class="panel-body">
                    <span class="glyphicons glyphicons-girl"></span>
                </div>
            </div>
        </div>


        <div class="col-lg-12" id ="generalInfo" style="display: none;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    NASA Task Load Index <a><span data-toggle="collapse" href="#" class="icon pull-right"><em class="glyphicon glyphicon-chevron-down"></em></span> </a>
                </div>
                <div id ="general" class="panel-body">


                    @import java.math.BigInteger; var ctr =1;
                    @for((subject,sessions) <- sub_sess){
                    @for(session <- sessions){

                    @for(signal <- session._2){
                    @if(signal._2 == 12) {

                    <div  id="dashboard_div@session._1@signal._1">
                        <div id="chartBar@session._1@signal._1" class="chartBar" subject="@subject" session="@session._1" signalSequence="@signal._1" signalType="@signal._2"  style="height: 250px;">
                        </div>
                    </div>

                    }
                    }

                    }
                    }
                </div>
            </div>
        </div>


    </div><!--/.row-->
    <div class="">
        <div class="panel panel-default">
            <div class="panel-body tabs">
                @import java.math.BigInteger; var i=1;
                @for((subject,sessions) <- sub_sess){
                <ul class="nav nav-tabs">
                    @for(session <- sessions if session._1 != "BAR"){
                    @if(i == 1) {
                    <li class="active"><a  href="#@session._1" id="link@session._1" class="onesignal" subject="@subject" session="@session._1" studyId=@studyNo  occupied ="no" data-toggle="tab">@session._1</a></li>
                    } else {
                    <li><a  href="#@session._1" id="link@session._1" class="onesignal" subject="@subject" session="@session._1" studyId=@studyNo  occupied ="no" data-toggle="tab">@session._1</a></li>
                    }
                    @{i = i + 1;}
                    }
                </ul>
                }

                <div class="tab-content">

                    @import java.math.BigInteger; var j =1;
                    @for((subject,sessions) <- sub_sess){
                    @for(session <- sessions){

                    @if(j == 1) {
                    <div id="@session._1" class="tab-pane fade in active">
                        } else {
                        <div id="@session._1" class="tab-pane fade">
                            }
                            @{j = j + 1;}
                            @for(signal <- session._2){
                            <!-- to avoid the non signal files -->
                            @if(signal._2 < 12) {
                            <!-- <div id="Combo" style="border-style: solid;  border-radius: 15px; border-color: #636363;"> -->
                            <!-- <div class="panel-heading" id="header@session._1@signal._1"> </div> -->
                            <!--  <div class="panel-body">-->
                            <div  id="dashboard_div@session._1@signal._1">
                                <div id="chart@session._1@signal._1" class="chart" subject="@subject" session="@session._1" signalSequence="@signal._1" signalType="@signal._2"  style="height: 250px;">
                                </div>
                                <!--<div id="filter_div@session._1@signal._1" style="height: 50px;"></div> -->
                            </div>
                            <!--<br> -->

                            <!--<br> -->
                            &nbsp;<div id="videoboard@session._1@signal._1" class= "video-board" name="videoboard@session._1@signal._1" style="position:relative; left: 40px; width: 80%; height: 400px; overflow-x:scroll;  white-space: nowrap;" hidden>
                            <div class="button-station"> <a id = "showvideo@session._1@signal._1" class = "btn btn-default show-video" >Hide Videos</a> <!--&nbsp; &nbsp; &nbsp; &nbsp; <a id = "dynamic@session._1@signal._1" class="btn btn-default" style="display: none;">Dynamic</a>  &nbsp; &nbsp; <a id = "showvideo@session._1@signal._1" class = "btn btn-default show-video" style="display: none;" >Show Videos</a> &nbsp; &nbsp; <a id = "editchart@session._1@signal._1" class = "btn btn-default" style="display: none;">Edit Chart</a> &nbsp; &nbsp;<a id = "export@session._1@signal._1" style="display: none;" class = "btn btn-default">Export data</a>  <br>--> </div>
                            @{import java.math.BigInteger; var i=1}
                            @for((sess,videoList) <- videos){
                            @if(sess == session._1) {
                            @for(video <- videoList){
                            @if(study_type == 1) {
                            <object id="@video">
                                <param name='movie' value='https://video.google.com/get_player?docid=0B2TDTGk9sqZLQjlxcVRxYUNqOFE&amp;ps=docs&amp;partnerid=30&amp;cc_load_policy=1'></param>
                                <param name='allowFullScreen' value='true'></param>
                                <param name='allowScriptAccess' value='always'></param>
                                <embed id='video@video@signal._1' src='https://video.google.com/get_player?docid=@video&amp;ps=docs&amp;partnerid=30&amp;cc_load_policy=1&amp;color=white&amp;autoplay=0&amp;enablejsapi=1&amp;playerapiid=video@video@signal._1' type='application/x-shockwave-flash' allowfullscreen='true' allowScriptAccess='always' width=50% height='300'></embed>
                            </object>
                            } else {
                            <object width='400' height='250' id="@video">
                                <embed src='@video' type='video/x-ms-wm' allowfullscreen='true' play ='false' autostart="false"  allowScriptAccess='always' width='350' height='250'></embed></object>
                            }
                            @{i = i + 1}
                            }
                            }
                            }
                            <br>
                            <a id = "stopvideo@session._1@signal._1"  class="btn btn-default">Stop Videos</a>   &nbsp; &nbsp;
                        </div>
                            <!--</div> -->
                            <!-- <br><br><br> <br><br><br> -->
                            }
                            }
                        </div>
                        }
                        }

                    </div>
                </div>
            </div><!--/.panel-->
        </div><!--/.col-->




    </div>	<!--/.main-->



</div>

<div id="loading" style="display:none; position: fixed;height:100%; width:100%; background: rgba( 255, 255, 255, .8 ) url('/assets/images/ajax-loader.gif') 50% 50%    no-repeat;">
</div>

</body>

</html>
